# Maven build output
smart-invoice-backend/target/

# Eclipse
.classpath
.project
.settings/
.factorypath
.idea/

# Sensitive config
smart-invoice-backend/src/main/resources/application-local.properties
smart-invoice-backend/src/main/resources/application-prod.properties

# Node modules
smart-invoice-frontend/node_modules/
smart-invoice-frontend/build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db